{% extends 'base/base.html' %}
{% block content %}

<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">О проекте</h3>


        <p class="main-text-style">Социальная сеть определяющая настроение, характер, мысли и предпочтения миллионов людей из разных стран и континентов. Данная соцсеть может определить ваше настроение по созданным вами постами и поставленными оценками. И на основе вашего настроения и предпочтений будет выдавать вам подходящий контент.
 </p>

                <h3 class="text-heading">Наши преимущества:</h3>
        <ul class="unordered-list">
            <li class="main-text-style1" type="circle">Здесь можно посмотреть интересные новости, оценить их, и наша система алгоритмов подберет для вас новые по вашим интересам.</li>
            <li class="main-text-style1" type="circle">Наши тесты помогут определить ваш эмоциональный фон, темперамент и тип личности и покажут это в удобных диаграммах в вашем профиле</li>
            <li class="main-text-style1" type="circle">Также в вашем профиле будут отображаться и ваши предпочтения уже после нескольких оцененнных записей</li>
            <li class="main-text-style1" type="circle">У нас есть даже котики и другие милые животные для поднятия вашего настроения :3</li>
            <li class="main-text-style1" type="circle">А более качественный подбор, основанный на вашем настроении, не заставит вас скучать</li>
        </ul>





        <!--<ul>
            <li>Эффективное и всестороннее содействие цифровой трансформации научных и образовательных организаций,
                а также достижение стратегических целей Указа Президента РФ № 474 о национальных целях развития до
                2030 года за счет удобного и непрерывного взаимодействия между участниками сферы науки, образования,
                органов государственной власти и представителей ИКТ-рынках;</li>
            <li>Информирование ИТ-руководителей  в сфере науки и образования о проводимой государственной политики в
                области цифровой трансформации;</li>
            <li>Мониторинг чувствительных вопросов и проблем для их оперативной передаче компетентным органам
                государственной власти и принятия управленческих решений;</li>
            <li>Формирование базы данных участников ИТ отрасли и лидеров мнений в сфере науки и образования,
                поиск и отбор лучших проектов, практик и решений;</li>
        </ul>

        <p class="sample-text">Проект направлен на  поддержку участников сферы высшего образования в вопросах:</p>
    <ul>- получения обратной связи от представителей сферы высшего образования, запуске опросов и мониторингов;
    <li>- в формулировании и решении отраслевых задач</li>
    <li>- вовлечение ИТ-руководителей в экосистему государственных мероприятиий</li>
    <li>- поиске кадров и молодых специалистов для задач сферы высшего образования</li>
    <li>- расширения контактов в профессиональной среде и совместного решения ИТ-задач</li></ul>
    <p class="sample-text">Получение актуальной информации о деятельности органов власти, компаний
    Синхронизация с заинтересованными образовательными организациями
        Формирования запросов на отечественные решения в области цифровой экономики для нужд сферы высшего образования</p>-->
    </div>
</section>

{% endblock %}