{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div class="featured_candidates_area candidate_page_padding">
        <div class="container">
            <div class="row">
                {% for article in news %}
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            {% if article.img_url %}
                                <img src="{{article.img_url}}" alt="">
                                {% else %}
                                <img src="{% static 'img/article/1.jpg' %}" alt="">
                                {% endif %}
                        </div>
                        <a href="/news/{{article.id}}"><h4>{{article.title}}</h4></a>
                    </div>
                </div>
                {% endfor %}
            </div>
<!--Номера страниц! -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination_wrap">
                        <ul>
<!--                            <li><a href="#"> <i class="ti-angle-left"></i> </a></li>-->
                            {% for i in page_nums %}
                            <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                            {% endfor %}
<!--                            <li><a href="#"> <i class="ti-angle-right"></i> </a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}